html{
	background-image: url("images/strangerthings.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	text-align: center; 
	color: white;
	font-size: 4em;
	font-style: bold;
	outline-color: black;
	outline-width: .5em;
	text-shadow: -1px -1px black, -1px -1px black, -1px -1px black, -1px -1px black;
	text-shadow: -2px -2px black, -2px -2px black, -2px -2px black, -2px -2px black;
	text-shadow: -3px -3px black, -3px -3px black, -3px -3px black, -3px -3px black;
	text-shadow: -4px -4px black, -4px -4px black, -4px -4px black, -4px -4px black;
	text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
	text-shadow: 2px 2px black, 2px 2px black, 2px 2px black, 2px 2px black;
	text-shadow: 3px 3px black, 3px 3px black, 3px 3px black, 3px 3px black;
	text-shadow: 4px 4px black, 4px 4px black, 4px 4px black, 4px 4px black;
}

h2 {
	color: yellow;
	font-size: 3em;
	font-style: bold;
	outline-color: black;
	outline-width: .5em;
	text-shadow: -1px -1px black, -1px -1px black, -1px -1px black, -1px -1px black;
	text-shadow: -2px -2px black, -2px -2px black, -2px -2px black, -2px -2px black;
	text-shadow: -3px -3px black, -3px -3px black, -3px -3px black, -3px -3px black;
	text-shadow: -4px -4px black, -4px -4px black, -4px -4px black, -4px -4px black;
	text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
	text-shadow: 2px 2px black, 2px 2px black, 2px 2px black, 2px 2px black;
	text-shadow: 3px 3px black, 3px 3px black, 3px 3px black, 3px 3px black;
	text-shadow: 4px 4px black, 4px 4px black, 4px 4px black, 4px 4px black;
}

p {
	color: white;
	font-size: 2em;
	font-style: bold;
	text-shadow: -1px -1px black, -1px -1px black, -1px -1px black, -1px -1px black;
	text-shadow: -2px -2px black, -2px -2px black, -2px -2px black, -2px -2px black;
	text-shadow: -3px -3px black, -3px -3px black, -3px -3px black, -3px -3px black;
	text-shadow: -4px -4px black, -4px -4px black, -4px -4px black, -4px -4px black;
	text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
	text-shadow: 2px 2px black, 2px 2px black, 2px 2px black, 2px 2px black;
	text-shadow: 3px 3px black, 3px 3px black, 3px 3px black, 3px 3px black;
	text-shadow: 4px 4px black, 4px 4px black, 4px 4px black, 4px 4px black;
}

footer {
	font-size: 5em;
	color: lime;
	text-align: center;
	text-shadow: -1px -1px black, -1px -1px black, -1px -1px black, -1px -1px black;
	text-shadow: -2px -2px black, -2px -2px black, -2px -2px black, -2px -2px black;
	text-shadow: -3px -3px black, -3px -3px black, -3px -3px black, -3px -3px black;
	text-shadow: -4px -4px black, -4px -4px black, -4px -4px black, -4px -4px black;
	text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
	text-shadow: 2px 2px black, 2px 2px black, 2px 2px black, 2px 2px black;
	text-shadow: 3px 3px black, 3px 3px black, 3px 3px black, 3px 3px black;
	text-shadow: 4px 4px black, 4px 4px black, 4px 4px black, 4px 4px black;
}

.alignment {
	align-content: center;
	text-align: center;
}